<a href="https://colab.research.google.com/github/danielotieno/ml-zoomcamp/blob/main/homework_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Importing Both Numpy and Pandas
import numpy as np
import pandas as pd

In [8]:
# Checking numpy version
print(np.__version__)

1.19.5

In [9]:
# Checking pandas version
print(pd.__version__)

1.1.5

In [25]:
# Reading the car price dataset 

car_price_df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

car_price_df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [18]:
# The average price of BMW cars

bmw_cars = car_price_df[car_price_df['Make'] == 'BMW']

bmw_average_price = bmw_cars['MSRP'].mean()

print(bmw_average_price)

61546.76347305389

In [20]:
#  Subset of cars after year 2015 (inclusive, i.e. 2015 and after)

cars_from_2015 = car_price_df[car_price_df['Year'] >= 2015]

missing_values_for_engine_hp = cars_from_2015['Engine HP'].isna().sum()
print(missing_values_for_engine_hp)

51

In [21]:
# The average "Engine HP" in the dataset

first_engine_hp_average = car_price_df['Engine HP'].mean()

print(round(first_engine_hp_average))

249

In [23]:
# The average "Engine HP" in the dataset after using fillna method

second_engine_hp = car_price_df['Engine HP'].fillna(0)


second_engine_hp_average = second_engine_hp.mean()

print(round(second_engine_hp_average))

248

In [29]:
# Select all the "Rolls-Royce" cars from the dataset.
rolls_royce_cars = car_price_df[car_price_df['Make'] == 'Rolls-Royce']

rolls_royce_df = rolls_royce_cars[['Engine HP', 'Engine Cylinders', 'highway MPG']]

print(rolls_royce_df)

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5276       563.0              12.0           21
5277       563.0              12.0           21
5278       563.0              12.0           21
5279       563.0              12.0           20
5280       563.0              12.0           20
5281       563.0              12.0           21
5282       563.0              12.0           21
5283       563.0              12.0           21
5284       563.0              12.0           21
7443       322.0              12.0           15
7444       322.0              12.0           15
7553       453.0              12.0           19
7554       453.0              12.0           19
7555       453.0              12.0           19
7556       453.0              12.0           19
7557       453.0              12.0           19
7558       453.0              12.0           19
7559       453.0              12.0           19
7560       453.0              12.0           19
7561       453.0              12.0           19
7562       453.0              12.0           19
7563       453.0              12.0           19
7564       453.0              12.0           19
9431       322.0              12.0           15
9432       322.0              12.0           15
11448      624.0              12.0           21
11449      624.0              12.0           21
11450      624.0              12.0           21

In [43]:
# Now drop all duplicated rows using drop_duplicates method

X = rolls_royce_df.drop_duplicates()

X_transposed = X.T

# Compute matrix-matrix multiplication between the transpose of X and X

XTX = X.dot(X_transposed)

print(XTX)

          2921      3505      5275      5279      7443      7553      11448
2921   105914.0  183356.0  183386.0  183371.0  104971.0  147606.0  203211.0
3505   183356.0  317474.0  317512.0  317493.0  181715.0  255544.0  351855.0
5275   183386.0  317512.0  317554.0  317533.0  181745.0  255582.0  351897.0
5279   183371.0  317493.0  317533.0  317513.0  181730.0  255563.0  351876.0
7443   104971.0  181715.0  181745.0  181730.0  104053.0  146295.0  201387.0
7553   147606.0  255544.0  255582.0  255563.0  146295.0  205714.0  283215.0
11448  203211.0  351855.0  351897.0  351876.0  201387.0  283215.0  389961.0

In [39]:
# Invert XTX and get the sum of elements 

inverted_XTX = XTX.iloc[::-1]

sum_of_the_elements = inverted_XTX.to_numpy().sum()

print(sum_of_the_elements)

11671869.0

In [46]:
# Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300]

y = pd.array([1000, 1100, 900, 1200, 1000, 850, 1300])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

result = X_transposed.dot(inverted_XTX)

w = result.dot(y)

print(w)

Engine HP           6.40827e+12
Engine Cylinders    1.44824e+11
highway MPG         2.38093e+11
dtype: object